:root{
--main: #658CC7;
--esq: #54ADC7;
--dir: #4E52C7;
--dir_comp: #C7B052;
--esq_comp: #C7A079;

--imperial-red: #e63946ff;
--honeydew: #f1faeeff;
--powder-blue: #a8dadcff;
--celadon-blue: #457b9dff;
--prussian-blue: #1d3557ff;
}

body{
    background-color: var(--honeydew);
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
    padding-top: 20px;
    /* color: darkslategray; */
    color: var(--main);
}

p{
    /* color: #000; */
    /* padding: 10px 40px; */
    padding: 10px 25%;
    color: var(--purple-100);
}

p a{
    text-decoration: none;
    /* color: var(--dir_comp); */
}

p a:hover{
    text-decoration: underline;
}

.ul_superior_menu{
    background-color: var(--powder-blue);
    list-style-type: none;
    overflow: hidden;
}

.ul_superior_menu li{
    float:left;
    padding-top: 10px;
}

.ul_superior_menu a{
    text-decoration: none;
    /* color: var(--main); */
    padding: 20px;
}

.ul_superior_menu a:hover{
    /* color: #666; */
    text-decoration: underline;
    background-color: var(--prussian-blue);
    color: var(--honeydew);
}

.ul_superior_menu .li_perfil_foto{
    float:right;
    padding-top: 0;
}

.li_perfil_foto img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    /* padding-right: 0px; */
    margin-right: 40px;
}

a img{
    width: 60px;
}

.contact{
    text-align: center;
}